{{!-- Reusable idea card component --}}
{{!-- Usage: {{> idea-card idea=idea showAuthor=true showActions=false}} --}}
<a href="{{#if exploreTab}}/explore?share={{shareLink}}{{else}}/ideas/{{id}}{{/if}}" class="idea-card" data-border="{{getBorderColor @index}}">
  {{#if showActions}}
  <div class="idea-actions">
    <div class="idea-menu-wrapper">
      <button class="idea-menu-btn" title="More options" data-id="{{id}}">
        <i class="fas fa-ellipsis-h"></i>
      </button>
      <div class="idea-dropdown-menu" data-id="{{id}}">
        <button class="dropdown-item edit-item" data-id="{{id}}">
          <i class="fas fa-pencil-alt"></i>
          <span>Edit</span>
        </button>
        <button class="dropdown-item delete-item" data-id="{{id}}">
          <i class="fas fa-trash"></i>
          <span>Delete</span>
        </button>
      </div>
    </div>
  </div>
  {{/if}}
  
  {{!-- Favorite button - only show on explore page for other people's ideas --}}
  {{#if (and exploreTab (ne User.id @root.user.id))}}
  <div class="idea-favorite">
    <button class="favorite-btn {{#if isFavorited}}favorited{{/if}}" 
            data-idea-id="{{id}}" 
            title="{{#if isFavorited}}Remove from favorites{{else}}Add to favorites{{/if}}"
            aria-label="{{#if isFavorited}}Remove from favorites{{else}}Add to favorites{{/if}}">
      <i class="{{#if isFavorited}}fas{{else}}far{{/if}} fa-heart"></i>
    </button>
  </div>
  {{/if}}
  
  <div class="idea-color-bar" data-color="{{getBorderColor @index}}"></div>
  
  <div class="idea-content">
    <h3 class="idea-title">{{title}}</h3>
    <p class="idea-description">{{truncate content 40}}</p>
    {{#unless showAuthor}}
      {{#if tags.length}}
      <div class="idea-tags">
        {{#each tags}}
          <span class="tag-badge {{getTagColor @index}}" title="{{name}}">{{truncateTag name 10}}</span>
        {{/each}}
      </div>
      {{/if}}
    {{/unless}}
    <div class="idea-footer">
      {{#if showAuthor}}
        <!-- Explore mode: show author with avatar -->
        <div class="idea-author-info author-clickable" data-user-id="{{User.id}}">
          <img src="{{defaultAvatar User.avatar}}" alt="{{User.name}}" class="author-avatar">
          <span class="author-name">{{User.name}}</span>
        </div>
      {{else}}
        <!-- My Ideas mode: show date -->
        <span class="idea-date">{{formatDate createdAt}}</span>
      {{/if}}
      <div class="idea-metadata">
        <div class="idea-status">
          {{#if exploreTab}}
            {{#if tags.length}}
              <div class="idea-tags inline-tags">
                {{#each (slice tags 0 3)}}
                  <span class="tag-badge {{getTagColor @index}}" title="{{name}}">{{truncateTag name 8}}</span>
                {{/each}}
                {{#if (gt tags.length 3)}}
                  <span class="more-tags">+{{subtract tags.length 3}}</span>
                {{/if}}
              </div>
            {{/if}}
          {{else}}
            {{#if isPublic}}
              <span class="status-indicator public">Public</span>
            {{else}}
              <span class="status-indicator private">Private</span>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</a>